{% extends '::base.html.twig' %}

{% block body %}
    <!--body start-->
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="notice">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ flashMessage }}
        </div>
    {% endfor %}
{{ parent() }}
    <!--  slider -->
<section class="home-slider-three-main">
    <div id="home-slider-one" class="slider-main-block home-slider-three">
        <div id="logoSlide" class="item home-slider-img">
            <div class="overlay-bg"></div>
            <div class="container">
                <div class="row col-lg-offset-3 col-lg-6 col-md-offset-6 col-md-offset-3 col-sm-12 col-xs-12">
                    <div class="slider-dtl">
                        <div class="slider-subheading">MediathaiPC</div>
                        <div class="slider-heading">Ne rachetez plus réparer !!!!</div>
                        <h5 class="slider-text">Où vous voulez et quand vous voulez</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  end slider -->
<!--  services feature two -->
<section id="Reparer" class="service-feature service-feature-two block-spacing">
    <div class="container">
        <div class="section">
            <h5 class="section-sub-heading">Pour vous</h5>
            <h2 class="section-heading">Nos Services</h2>
        </div>
        <div class="row">
            {% for service in services %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="service-block">
                        <div class="service-content">
                            <div class="service-icon">
                                <a href="services-detail.html"><i class="{{ service.image.url }}"></i></a>
                            </div>
                            <div class="block-dtl">
                                <a href="{{ path('mediathai_services',{'service_id' : service.id }) }}"><h5 class="block-heading">{{ service.nom }}</h5></a>
                                <!--  <p>Réparation à domicile ou en boutique </p>-->
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--  service feature two -->

<!-- about two -->
<section id="about" class="about-main-block about-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="section-left">
                    <h5 class="section-sub-heading">MediathaiPc</h5>
                    <h2 class="section-heading">Qui sommes nous?</h2>
                    <p>
                        Vous cherchez un écran pour votre iPhone cassé ? Vous voulez réparer votre fidèle Samsung Galaxy ?
                        Redonnez vie à votre chère PlayStation ? Faites un tour sur notre boutique contenant un large choix de pièces détachées pour dépanner votre smartphone,
                        tablette, console de jeux, baladeur numérique, etc.
                        Nos techniciens en France veillent à la qualité irréprochable de chaque pièce,
                        pour qu’elles soient identiques aux pièces originales en les soumettant à un contrôle minutieux garantissant leur bon fonctionnement.
                    </p>
                </div>
                <div class="row">
                    <div class="abt-two-section">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                            <div class="about-icon">
                                <a href="#"><i class="flaticon-smart-phone"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
                            <div class="about-two-dtl">
                                <a href="#"><h5 class="about-two-heading">Tablette &amp; ipad</h5></a>
                                <p>Réparation tablette et Ipad à domicile</p>
                            </div>
                        </div>
                    </div>
                    <div class="abt-two-section">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                            <div class="about-icon">
                                <a href="#"><i class="flaticon-lcd"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
                            <div class="about-two-dtl">
                                <a href="#"><h5 class="about-two-heading">Mac & Pc</h5></a>
                                <p>Réparation Mac et PC à domicile</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-12 col-xs-12">
                <div class="about-two-img">
                    <img src="{{ asset('images/thai.png') }}" class="img-responsive" alt="about-img">
                </div>
            </div>
        </div>
    </div>
</section>
<!--  end about two -->
<!-- Contact -->
<section id="contact" class="contact-main-block block-spacing">
    <div class="container">
        <div class="section">
            <h5 class="section-sub-heading">Contact-Nous</h5>
            <h2 class="section-heading">Entrer en contact</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 btm-mrgn-sm">
                <div class="contact-block">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="contact-icon"><i class="fa fa-map-marker"></i></div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <h5 class="contact-heading">Adresse</h5>
                            <p>73 bis rue de merlan, 93130 Noisy-le-sec</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 btm-mrgn">
                <div class="contact-block">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="contact-icon"><i class="fa fa-phone"></i></div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <h5 class="contact-heading">Téléphone &amp; E-mail</h5>
                            <p><a href="tel:61383766284">06 95 33 41 46</a><br>
                                <a href="mailto:info@envato.com?Subject=Hello%20again" target="_top">mediathaipc@gmail.com.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ol-lg-4 col-md-4 hidden-sm col-xs-12">
                <div class="contact-block">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="contact-icon"><i class="fa fa-calendar"></i></div>
                        </div>
                        <div class="col-lg-8 col-md-4 col-sm-8 col-xs-8">
                            <h5 class="contact-heading">Ouverture</h5>
                            <p>lundi – Samedi <br>9h00 – 18h00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="message-form form-style-one">
                    <form class="contact-form" method="get" action="form-action.php">
                        <input type="hidden" id="subject" name="subject" value="Contact Us">

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Nom*" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Sujet" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Email*" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <textarea id="comment" class="form-control" name="comment" placeholder="Commentaires*" required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <button type="submit" class="btn btn-default btn-red btn-hover-effect">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact -->
<!-- brand -->
<section id="map-brand" class="map-brand-block block-spacing">
    <div id="map-location" class="map-location-block"></div>

</section>
<!--  end brand -->
<!-- footer -->
<section id="footer" class="footer-main-block">
    <div class="container">
        <div class="footer-info">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-block">
                    <div class="section-left">
                    </div>
                    <div class="footer-dtl">

                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-block">
                    <div class="section-left">

                    </div>
                    <div class="footer-dtl">

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-block">
                    <div class="section-left">

                    </div>
                    <div class="footer-dtl">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-end-block text-center">Copyright &copy; 2017 <a href="index.html">MediaThaiPc</a></div>
</section>
<!-- end footer -->
    <!--body end -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!--<script>
        $(function() {
            $('#map-location').mapit();
        });
    </script>-->
{% endblock %}

